 
<div id="subMenu">
<ul id="nav">	
	<li><a  href="#sec1">our mission</a></li>
	<li><a  href="#sec2">projects</a></li>
	<li> <a  href="#sec3">board</a></li>
  </ul>
  <button id="donate">Donate!</button> 
</div>
<img id="logo" src="summitconservancylogo.png" alt="summitconservancylogo">
<div id="sec-container">

<div class="panel" id="sec1">
  <div class="mission"> 
    <p>Building innovative community partnerships for a healthy and sustainable environment for years to come.
  </div>
  <div id="freemarket"> 
	  <h1>Current Project</h1>
  </div>
</div>
<div class="panel" id="sec2">
	<h1>Summit Free Market</h1>
	<div class="mission">
		<p>The Summit Free Market is a planned project to be located at the City of Summit Environmental Center located at the curretn Transfer Station Site.</p>
		<p>It will be an outstanding resource for environmental education and special programs, exhibits and events for residents of all ages in Summit and neighboring communities.</p>
	</div>	
</div>

<div class="panel" id="sec3">
  <h1>text about more summit conservancy things</h1>
</div>

</div>
