 
<div id="subMenu">
<ul id="nav">	
	<li><a  href="#sec1">our mission</a></li>
	<li><a  href="#sec2">projects</a></li>
	<li> <a  href="#sec3">board</a></li>
  </ul>
  <button id="donate">Donate!</button> 
</div>
<img id="logo" src="summitconservancylogo.png" alt="summitconservancylogo">
<div id="sec-container">

<div class="panel" id="sec1">
  <div class="mission"> 
	  <h1>our goals</h1>
	  <ul>
            <li>As we see it, the future of Summit is a sustainable one</li>
	    <li>Creating positive and lasting environmental change</li>
	    <li>Building innovative community partnerships to ensure a healthy diverse environment for years to come</li>
    </ul>
  </div>
  <div id="freemarket"> 
	  <h1>Our Projects</h1>
  </div>
</div>
<div class="panel" id="sec2">
	<h1>Summit Free Market</h1>
	<div class="mission">
		<p>The Summit Free Market is a planned project to be located at the City of Summit Environmental Center located at the curretn Transfer Station Site.</p>
		<p>It will be an outstanding resource for environmental education and special programs, exhibits and events for residents of all ages in Summit and neighboring communities.</p>
		<p>Learn why ecosystems are importan; the value of reducing, reusing and recycling; how rain gardens enhance the environment; and much more.</p>
		<p>The Summit Free Market will be open year round on Saturdays, and exhibits and programs would change seasonally.</p>
	</div>	
</div>

<div class="panel" id="sec3">
  <h1>text about more summit conservancy things</h1>
</div>

</div>
