$menu-tone: #1867ac;
$header-font-stack: 'helvetica', sans-serif;
$summit: #591234;
body {
margin: 0px;
padding: 0px;
}

#logo {
  position: absolute;
  top: 75px;
  left: 5%;
  z-index: 90;
  width: 400px;
  height: 400px;
}
#subMenu {
position: fixed;
top: 0px;
width: 100%;
  height: 50px;
  background-color: $menu-tone;
  text-align: center;
  z-index: 100;
  #nav {
  margin: 0px;
  padding: 0px;
  li {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    display: inline;

  a {
  float: left;
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: $header-font-stack; 
  padding-left: 15px; 
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  }
a:hover {
  color: $summit;
  }
  }
 }
  #donate {
  position: absolute;
  right: 30px;
  top: 10px;
  background-color: $summit;
  border: 0px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  width: 100px;
  height: 35px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  }
}

#sec-container{
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
  padding: 0px;
  margin: 0px;
  #sec1 {
  background-image:url(/river.jpg);
}
  #freemarket {
  background-color: $menu-tone;
  width: 100%;
  height: 50px;
  color: white;
  font-family: $header-font-stack;
  position: absolute;
  top: 650px;
  h1 {
  position: absolute;
  bottom: 10%;
  margin: 0px;
  font-size: 30px;
  }
}
 }
#sec2{
  background-image:url(/building.jpg);	
  h1 {
    font-family: $header-font-stack;
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 60px;
    color: rgba(210, 58, 94, 0.8);
    font-weight: 800;
    margin: 0px;
  }
  }
.panel {
  height: 700px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  top: 0px;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

  .mission {
  position: relative;	
  display: block;
  font-family: $header-font-stack;
  font-size: 40px;
  color: white;
  left: 500px;
  top: 25%;
  width: 700px;
  min-height: 200px;
  background-color: rgba(50, 75, 100, 0.7);
  margin-right: 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  ul {
    list-style-type: none;
  }
  h1 {
  color: white;
  padding: 0px;
  margin: 0px;
  }
}
  p {
  margin: 0px;
 }
}

#sec3 {
  height: 700px;
  width: 100%;
  padding: 0px;
  top: 1400px;
  background-image:url(/grass.jpg);
  h1 {
  margin: 0px;
  }
}

